
body {

	margin-top: 
}

nav {

	height: 40px;
	background-color: lightgrey;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;


	
}


nav li {

	display: inline;


}

li {

	list-style-type: none;
}

nav ul {

	
	float: right;
	margin-right: 20px;
	font-size: 20px;
	margin: 5px 0;
	padding-right: 20px;
	color: purple;
}


nav p {

	font-size: 22px;
	display: inline-block;
	padding-bottom: 20px;
	padding-left: 20px;
	margin: 5px 0px;
	font-family: arial;

}

h1 {

	font-size: 30px;
	color: black;
	margin-top: 100px;

}

input {

 	width: 400px;
 	height: 30px;
 	border: 1px solid black;
 	display: inline-block;
 	padding-top: 8px;
}

img {

	height: 40px;
}

.serps a {

	color: purple;
}

.serps {

	margin-left: 50px;


}



.posted, .location, .position {

	font-size: 17px;
	padding: 0px;
	text-decoration: none;


}
.listing {


	margin-bottom: 17px;
}

   {

 	display: inline-block;
 	border: 1px solid black;

}

.search_button > img { 

	height: 20px;
	width: 20px;
	

}


.pages {

	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
	display: inline-block;
	margin-left: 70px;
	margin-top: 20px;
	margin-bottom: 50px;

}

.pages_button0  {

	border-right: 1px solid grey;
	text-decoration: none;
	padding: 7px;
	border-radius: 3px;


}

.pages_button {

	border-left: 1px solid grey;
	padding: 7px;
	border-radius: 3px;
}

.pages a {


	color: black;
	font-size: 15px;
	text-decoration: none;

}


.search_bar {

	display: block;
	margin-left: 50px;
}

.search_button {

	background-color: white;
	border-radius: 5px
	;
}